In [ ]:
print("vidya")

vidya

In [ ]:
print(2+2)

4

In [ ]:
a=10
print(a)

10

In [ ]:
Total_Fruits=100
print(Total_Fruits)

100

In [ ]:
Li=[1,2,3,4,]

In [ ]:
Example=(3375,"shruti",81.33, 'Raichur',True)
print(Example)
print(type(Example))
print(len(Example))
print(Example[1])
print(Example[-1])
print(Example[::-1])

(3375, 'shruti', 81.33, 'Raichur', True)
<class 'tuple'>
5
shruti
True
(True, 'Raichur', 81.33, 'shruti', 3375)

In [ ]:
X=(1,2,3,4)
Y=(4,5,6,7)
Z=(0,5,7,9)
print(X+Y+Z)
print(X * 3)
print("/")

(1, 2, 3, 4, 4, 5, 6, 7, 0, 5, 7, 9)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
/

In [ ]:
A={1,2,3,4,5,}
B={5,4,6,7,8}
print(A | B)
print(A.union(B))
print(A & B)
print(A.intersection(B))
print(A-B)
print(B-A)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{8, 6, 7}

In [ ]:
Ex={
    "ID":101,
"name":"shruti",
"Age":18,
"per":85.33,
"Reselt":True,
 "Place":"Belavi"
}
print(Ex)
print(type(Ex))
print(len(Ex))
Ex["college"]="KLE's BK college"
print(Ex)
Ex["Data Birth"]="30-4-2007"
print(Ex)
Ex["Phone Number"]="1234565688"
print(Ex)
print(Ex["Age"])
Ex["Gender"]="Feamle"
print(Ex)
del Ex["Age"]
print(Ex)
del Ex["Place"]
print(Ex)
print(Ex.keys())
print(Ex.values())
print(Ex.items())
Ex["Result"]= False
print(Ex)

{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi'}
<class 'dict'>
6
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college"}
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college", 'Data Birth': '30-4-2007'}
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688'}
18
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688', 'Gender': 'Feamle'}
{'ID': 101, 'name': 'shruti', 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688', 'Gender': 'Feamle'}
{'ID': 101, 'name': 'shruti', 'per': 85.33, 'Reselt': True, 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688', 'Gender': 'Feamle'}
dict_keys(['ID', 'name', 'per', 'Reselt', 'college', 'Data Birth', 'Phone Number', 'Gender'])
dict_values([101, 'shruti', 85.33, True, "KLE's BK college", '30-4-2007', '1234565688', 'Feamle'])
dict_items([('ID', 101), ('name', 'shruti'), ('per', 85.33), ('Reselt', True), ('college', "KLE's BK college"), ('Data Birth', '30-4-2007'), ('Phone Number', '1234565688'), ('Gender', 'Feamle')])
{'ID': 101, 'name': 'shruti', 'per': 85.33, 'Reselt': True, 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688', 'Gender': 'Feamle', 'Result': False}

In [ ]:
X="Vidya"
Y=" Shruti"
print(X + Y)
print("We are friend " + X +" and "+ Y + " in BKC College")
print("Hello " * 5)
College="Basava prabhu Kore College Chikodi"
print(College[0:6])
print(College[19:26])
print(College[14:18])
college=" In the year of 2025 "
print(College + college)
print(type(college))

Vidya Shruti
We are friend Vidya and  Shruti in BKC College
Hello Hello Hello Hello Hello
Basava
College
Kore
Basava prabhu Kore College Chikodi In the year of 2025
<class 'str'>

In [ ]:
print("Chennagilla")
print("Uta Ayta")
print("Innu ella")
print("Good moring")
print()

Chennagilla
Uta Ayta
Innu ella
Good moring

In [ ]:
num=7
Div=num/2
print(type(num))
print(type(Div))
num=10
print(type(num))
A=str(num)
print(type(A))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>

In [ ]:
num=10
print(type(num))
value=3.4
print(type(value))
Add=num + value
print(Add,type(Add))

<class 'int'>
<class 'float'>
13.4 <class 'float'>

In [ ]:
Rev=int(Add)
print(Rev, type(Rev))

13 <class 'int'>

In [ ]:
num=45
print(type(num))
print(num,type(num))
value=5.6
print(type(value))

<class 'int'>
45 <class 'int'>
<class 'float'>

In [ ]:
Demo ="10"[ ]
Li=[1,2,3,4,]

[ ]
Example=(3375,"shruti",81.33, 'Raichur',True)
print(Example)
print(type(Example))
print(len(Example))
print(Example[1])
print(Example[-1])
print(Example[::-1])

(3375, 'shruti', 81.33, 'Raichur', True)
<class 'tuple'>
5
shruti
True
(True, 'Raichur', 81.33, 'shruti', 3375)

[ ]
X=(1,2,3,4)
Y=(4,5,6,7)
Z=(0,5,7,9)
print(X+Y+Z)
print(X * 3)
print("/")
(1, 2, 3, 4, 4, 5, 6, 7, 0, 5, 7, 9)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
/

[ ]
A={1,2,3,4,5,}
B={5,4,6,7,8}
print(A | B)
print(A.union(B))
print(A & B)
print(A.intersection(B))
print(A-B)
print(B-A)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{8, 6, 7}

[ ]
Ex={
    "ID":101,
"name":"shruti",
"Age":18,
"per":85.33,
"Reselt":True,
 "Place":"Belavi"
}
print(Ex)
print(type(Ex))
print(len(Ex))
Ex["college"]="KLE's BK college"
print(Ex)
Ex["Data Birth"]="30-4-2007"
print(Ex)
Ex["Phone Number"]="1234565688"
print(Ex)
print(Ex["Age"])
Ex["Gender"]="Feamle"
print(Ex)
del Ex["Age"]
print(Ex)
del Ex["Place"]
print(Ex)
print(Ex.keys())
print(Ex.values())
print(Ex.items())
Ex["Result"]= False
print(Ex)
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi'}
<class 'dict'>
6
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college"}
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college", 'Data Birth': '30-4-2007'}
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688'}
18
{'ID': 101, 'name': 'shruti', 'Age': 18, 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688', 'Gender': 'Feamle'}
{'ID': 101, 'name': 'shruti', 'per': 85.33, 'Reselt': True, 'Place': 'Belavi', 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688', 'Gender': 'Feamle'}
{'ID': 101, 'name': 'shruti', 'per': 85.33, 'Reselt': True, 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688', 'Gender': 'Feamle'}
dict_keys(['ID', 'name', 'per', 'Reselt', 'college', 'Data Birth', 'Phone Number', 'Gender'])
dict_values([101, 'shruti', 85.33, True, "KLE's BK college", '30-4-2007', '1234565688', 'Feamle'])
dict_items([('ID', 101), ('name', 'shruti'), ('per', 85.33), ('Reselt', True), ('college', "KLE's BK college"), ('Data Birth', '30-4-2007'), ('Phone Number', '1234565688'), ('Gender', 'Feamle')])
{'ID': 101, 'name': 'shruti', 'per': 85.33, 'Reselt': True, 'college': "KLE's BK college", 'Data Birth': '30-4-2007', 'Phone Number': '1234565688', 'Gender': 'Feamle', 'Result': False}

[ ]
X="Vidya"
Y=" Shruti"
print(X + Y)
print("We are friend " + X +" and "+ Y + " in BKC College")
print("Hello " * 5)
College="Basava prabhu Kore College Chikodi"
print(College[0:6])
print(College[19:26])
print(College[14:18])
college=" In the year of 2025 "
print(College + college)
print(type(college))
Vidya Shruti
We are friend Vidya and  Shruti in BKC College
Hello Hello Hello Hello Hello
Basava
College
Kore
Basava prabhu Kore College Chikodi In the year of 2025
<class 'str'>

[ ]
print("Chennagilla")
print("Uta Ayta")
print("Innu ella")
print("Good moring")
print()
Chennagilla
Uta Ayta
Innu ella
Good moring

[ ]
num=7
Div=num/2
print(type(num))
print(type(Div))
num=10
print(type(num))
A=str(num)
print(type(A))
<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>

[ ]
num=10
print(type(num))
value=3.4
print(type(value))
Add=num + value
print(Add,type(Add))
<class 'int'>
<class 'float'>
13.4 <class 'float'>

[ ]
Rev=int(Add)
print(Rev, type(Rev))
13 <class 'int'>

[6]
0s
num=45
print(type(num))
print(num,type(num))
value=5.6
print(type(value))
<class 'int'>
45 <class 'int'>
<class 'float'>

[10]
0
print(Demo)

SyntaxError: invalid decimal literal (ipython-input-1750133692.py, line 157)

In [ ]:
Demo= "10"
print(Demo, type(Demo))
Hi =int(Demo)
print(Hi, type(Hi))

In [ ]:
Clg =13.33
print(Clg,type(Clg))

<clae'> 13.33ss 'typ

In [ ]:
from typing import TYPE_CHECKING
Mobile = 21000
print(type(Mobile))
Mobile = 21000
print(type(Mobile))

In [ ]:
Battle=0
print(type(Battle))
B=bool(Battle)
print(B, type(B))

In [ ]:
first = True
second = 15
print( first + second)

In [ ]:
Li=list(Demo)
print(Li,type(Li))

In [ ]:
Dome=(4,5,6,7,)
print(type(Demo))

In [ ]:
Boat=[12]
print(type(Boat))
A= tuple(Boat)
print(A,type(A))

<class 'list'>
(12,) <class 'tuple'>

In [46]:
Name="College"
print(type(Name))
Clg

<class 'str'>

NameError: name 'Clg' is not defined

In [ ]:
Clg = tuple(Name)
print(Clg,type(Clg))

In [ ]:
Three = (4,5,6,7)
print ( type (Three))

In [ ]:
One = "Teachers Day"
print(One,type(One))
Two = set (One)
print(Two, type(Two))

Teachers Day <class 'str'>
{'y', 'a', ' ', 'D', 'T', 'e', 'c', 'r', 'h', 's'} <class 'set'>

In [ ]:
Datails = (("ID",)

SyntaxError: incomplete input (ipython-input-3846502710.py, line 1)

In [ ]:
Detail={("places","Belavi"),("Name","shruti")("Age",18) ("P_Number", 87220345)("Gender","Male"),("Reg_Num","U1523SO123")}

In [ ]:
'''Syntax:Mu

          Variable_Name = Input("Enter a value ")
'''

print("your Wrong ")

In [ ]:
First=input("Enter the number ")
Second=input("Enter the number ")
print(First)
print(Second)

In [ ]:
first=10000
second=20000
print(first)
print(second)
print("Addition of two numbers is:",first + second)

print()

First=input("Enter the number ")
second=input("Enter the number ")
print( type(First))
print(type(second))
print(First)
print(Second)
print("Addition of two number is :",First + Second)

In [ ]:
X= int(input("Enter the number")
Y = int(input("Enter the number")

In [ ]:
Demo=(1,2,3,4,)
print(type(Demo))

In [ ]:
Li=list(Demo)
print(type(Li))

In [ ]:
i=10
j=20
k=i+j
I=10+20
print(k)
print(I)

In [ ]:
first=int(input("enter the number:"))
second=int (input("enter the number:"))
print(first+second)
print(first-second)
print(first*second)
print(first/second)
print(first%second)
print(first**second)
print(first//second)

enter the number:10
enter the number:20
30
-10
200
0.5
10
100000000000000000000
0

In [ ]:
a=10
b=20
print("Before swapping")
print("a =",a,"b=",b)
print()
print("After swapping")
 temp=a
 a=b
 b=temp
 print("a =",a, "b=",b)

IndentationError: unexpected indent (ipython-input-3550278463.py, line 7)

In [ ]:
a=10
b=20
print("Before swapping")
print("a=",a,b=,b)
print()
print("After swapping")
temp=a
a=b
b=temp
print("a=",a,"b=,"b)

In [ ]:
a=10
b=20
print("Before swapping")
print("a=",a"b=",b)
print()
print("After swapping")
a=a+b
b=a-b
a=a-b
print("a=",a,"b=",b)

In [ ]:
a=10
b=20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

In [ ]:

A=10
B=20
C=30
print(C <= A and A == 10)
print(25 >= C and A != B)
print(C <= A and B == 20)
print(100>=30 and B>=A)
print()
print(B!=20 or B==A)
print(C <35 or 8<=A)
print(not(A == 10) or B < C)
print()
print(not(C <= 30))
print(not(50<=75))
print(not(A<=10) and not (C<=30))
print(not(B<=20) and not (A<=10))
print( A!=20 or B<=A)
print()
print(not(A!=10))

In [ ]:
A=40
A//=4
print(A)

In [ ]:
X=10
print(X)

X+=5
print(X)
X-=4
print(X)
X/=6
print(X)
X*=3
print(X)

In [ ]:
x = 20
if x<30:
  print("x is less than 30")
  x=20
  Age=21
  if Age>18:
    print("Eligible of marriage")
    print("you should wait")

In [ ]:
base=int(input("Enter base value:"))
height=int(input("Enter height value:"))
Area=0.5* base* height
print("Area of triangle value is:", Area)

In [ ]:
redius =int(input("Enter the redius value:"))
B =int (input("Enter the B value:"))
Area = 2*3.142* redius
print(" redius of circle:", Area)

In [ ]:
a = int (input("Enter the area of the circle"))
area=3.14*a*a
print("Area of the circle:",area)

In [ ]:
Login = input("Enter User_Id is:")
password = int(input("Enter password is:"))
if Login =="viday@gamil.com " and  password == 1234:
    print("Login Successfull")
else:
    print("Login Unsuccesfull")

In [ ]:
balance = 5000
withdraw = int(input("Enter withdraw amount :"))
if withdraw < 5000:
    print("Transaction successfully")
else:
    print("Insufficient balance")

In [ ]:
 Age = 18
 Vote = int (input( "Enter Age:"))
 if 18>= Age:
    print("Aligible for Vote")
 else:
    print("Not Aligible for Vote")

In [ ]:
Boys age = 21
Girls age=18:
if Boy >=22 and Girl>=19:
    print("Aligible for marrige")
else:
    print("Not Aligible for marrige")
else:
    print("Aligible for marringe")
else:
    print("Not Aligible for marrige")

In [ ]:
Boy = int(input("Enter Boy age is :"))
Girl = int(input("Enter Girl age is:"))
if Boy >=21 and Girl>=18:
  print("Both are eligible for marrige")
else:
  print("You have to wait")

In [ ]:
marks = int (input("Enter mark value:"))
if marks>=85:
  print("Distiction")
elif marks>70:
  print("First class")
elif marks>=45:mr
    print("Second class")
elif marks>=35:
  print("Just pass")
else:
  print("Fail")

In [ ]:
Attendence=int(input("Enter the Attendence value:"))
if Attendence>=95:
    print("averag")
elif Attendence>=80:
    print("medium")
elif Attendence>=75:
    print("Back")
else:
    print("Not aligible")

In [ ]:
recharge = int(input("Enter recharge plan:"))
if recharge <= 199:
  ptrint("1 GB per day 28 days")
elif recharge <= 579:
  print("1,5 GB per day 56 days")
elif recharge <= 869:
  print("2 GB per day 84 days")
elif recharge <= 3499:
  print("2 GB per day 345 days")
else:
  print("Invalid plans")

In [ ]:
prize = int(input("Enter the prize:"))
if prize == 1:
    print("gold medal")
elif prize == 2:
    print("silver medal")
elif prize == 3:
    print("Bronze medal")
else:
    print("Better luck  next time")

In [ ]:
Number=int(input("Enter the value"))
if Number>=0:
  print("positive number")
elif Number<=0:
  print("Negative number")
else:
  print("Number is zero")

In [ ]:
Siganal=(input("Enter signal  Colour:"))
if Siganal=="Red":
  print("Stop the  bike")
elif Singanal=="Yellow":
  print("ready to go")
elif Singanal=="Green":
  print("Go")
else:
  print("Invalid singnal color")

In [ ]:
print(1)

In [ ]:
Num = 2
while  Num <= 100:
  print(Num,end=" ")
  Num = Num + 2

In [ ]:
Num = 100
 While Num <= 100:
 print(Num+23)
 Num= Num+100

In [ ]:
Num =1634
add = 0
temp= Num # Num and temp values both are equal 153
while Num != 0:
  rem = Num % 10
  add = add + rem * rem * rem
  Num = Num // 10
if temp == add :
   print("Armstrong Number")
else:
   print("Not Armstrong Number")

In [ ]:
Num = 5
while Num <=  50:
  rem = Num % 5
  add = add + rem * rem *rem
  Num =Num // 5
if Num == add :
  print("odd number")
else:
  print("Prime number")

In [ ]:

i = 2
add = 0
while i<= 10:
  add = add + i
  i  = i + 1
print("sum of Natural Number is", add)

In [ ]:
Num = 5
while Num <= 1500:
  print(Num)
  Num = Num * 2

In [ ]:
Num = 5
while Num <= 120:
  print(Num)
  Num = Num*4*3*2*1

In [ ]:
Num = 5
while Num <= 120:
  print(Num)
  Num = Num*2 # Num*=2

In [ ]:
Num = 5
i = 1
fact = 1
while i <= Num :
   fact = fact * i
   i +=1
print("Total factorial value is :",fact)

In [ ]:
Num =1.2.3.4.5.
whlie Num<= 1.2.3.4.5
print (Num)
Num = Num +5
print("reverse Number")

In [ ]:
num =12345
reverse=0
while num>0:
   rem = num%10
   reverse = reverse*10+rem
   num=num//10
print("reverse", reverse)

In [ ]:
num =12345
reverse=0
while num>0:
   rem = num%10
   reverse = reverse*10+rem
   num=num//10
   print("reverse", reverse)

In [ ]:
num = 100
i =1
while i <= 10:
  print(num," * ",i," = ",num * i)
  i = i + 1

In [ ]:
num = 30
if is_prime Number
 while

In [ ]:
#Prime number
Num = 13
i = 1
count = 0
while i <= Num :
  if Num % i == 0 :
     count = count + 1
  i = i + 1
if count == 0:
  print("Prime number")
else:
  print("Not prime number")

Not prime number

In [ ]:
#I/P =12321,O/p=12321
Num = 12321
print(Num)

12321

In [ ]:
num = int(input("Enter number is :"))
tem = num
pol = 0
while num != 0 :
  rem = num %10
  pol = pol * 10 +rem
  num = num // 10
  if temp == pol :
    print("Polindrome number")
else :
    print("Not Polindrom number")

Enter number is :121
Not Polindrom number

In [ ]:
for i in "Mobile":
  print(i)

M
o
b
i
l
e

In [ ]:
for i in "shruti":
  print(i)

s
h
r
u
t
i

In [ ]:
Name = ["Ab", "Bc","Cd","De","aA"]
for i in Name:
  print(i)

Ab
Bc
Cd
De
aA

In [ ]:
Num = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in Num :
  total = total + i
  print(total)

1
3
6
10
15
21
28
36
45
55

In [ ]:
 Num = Python
 reverse = 0
 while num>0:
  rem = num % 10
  reverse = reverse * 10+rem
   num

In [ ]:
Input  = "Python"
Output = " "
for i in Input:
  Output = i + Output
print(Output)

nohtyP

In [ ]:
for i in range(50):
  print(i,end =" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [ ]:
total = 0
for i in range(1,10+1):
  total =total +i
print("Sum of total value is :", total)

Sum of total value is : 55

In [ ]:
Input = "KLE BCA"
Output = " "
for i in Input :
  Output = i + Output
print(Output)

ACB ELK

In [ ]:
for i in  range (2,100,2):
  print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
for i in range(1,101,2):
  print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
 n = 7
 for i in range(1,11):
    print(n, " * ",i, " = ", n * i)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

In [ ]:
A = 0
B = 1
print(A,B,end = " ")
for i in range(2,13):
  C = A + B
  print(C, end=" ")
  A, B = B,C

0 1 1 2 3 5 8 13 21 34 55 89 144

In [ ]:
I1P = "KLE BCA"
O_P= " "
for i in I1P:
  O_P = i + O_P
print(O_P)

ACB ELK

In [ ]:
nums = [10,30 , 50, 35, 26, 55, 9, 42]
lar = nums[0]
for i in  nums :
   if i > lar :
     lar = i
print("Largest number is :",lar)

Largest number is : 55

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]
revers = 0
for i in num :
  if i > revers:
    revers = i
print("revers numbrer is:",revers)

revers numbrer is: 10

In [ ]:
for i in range(10,0,-1):
  print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
 num = 5
 i = 1
 fact=1
for i in range(1,6+1):
  fact = fact * i
print("Factorial number is:", fact)

Factorial number is: 720

In [ ]:
for i in range(1,11):
  print(i,"*",i,"=",i*i)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [ ]:
a,b=0,1
for i in range(11):
  print(a,end=" ")
  a,b=b,a+b

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
Name = "Basava Prabhu Kore College in Chikkodi"
count = 0
for i in Name:
  if i in "aeiou":
    count += 1
print("Total counts :", count)

Total counts : 14

In [ ]:
for i in range(1,20):
  if i == 10:
    break
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
colors = ["red","green","yellow", "pink", "black","orange","blue","Maroon"]
for i in colors:
  if i == "white":
    break
  print(i,end=" ")

red green yellow pink black orange blue Maroon

In [ ]:
Vehicles = ("Bullet","Spelnder","MAT","Yamaha","HF Delux","Passion Pro","SP","XL Super")
for veh in Vehicles:
  if veh == "HF Delux":
     break
  print(veh)

Bullet
Spelnder
MAT
Yamaha

In [ ]:
Fruites = ("apple","Mango","banana","graps","Stobry",)
for fru in Fruites:
  if fru == "apple":
    continue
  print(fru)

Mango
banana
graps
Stobry

In [ ]:
Books = ("Biology","Chemistry","Physics","Kannda","English","Kannda Notes","Maths")
for Bk in Books:
  if Bk == "Maths":
    continue
  print(Bk)

Biology
Chemistry
Physics
Kannda
English
Kannda Notes

In [ ]:
Books ("Kannada", "English", "Maths",)
 for Books in Books:
  if Books=="Kannada"
  continue
  print(


  )

In [ ]:
for i in "Computer":
  print(i)

C
o
m
p
u
t
e
r

In [ ]:
for i in"shruti":
  print(i)

s
h
r
u
t
i

In [ ]:
list = ["A","B","CA","Job",85.53]
for i in list :
  print(i)

A
B
CA
Job
85.53

In [ ]:
for i in range (3):
  for j in range (2):
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(5):
  for j in range(5):
      print(1,end=" ")
  print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [ ]:
for i in range(10):
  for j in range(10):
     print(j, end=" ")
  print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10,0,-1):
  for j in range(i):
     print("*",end=" ")
  print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows= int(input("Enter rows:"))
cols=int(input("Enter cols:"))
for i in range(0,rows):
     for j in range(0, cols):
       if i == 0 or j == 0 or i == rows-1 or j == cols-1:
         print(" * ",end = " ")
       else:
         print(" ",end=" ")
     print()

Enter rows:3
Enter cols:4
 *   *   *   *
 *       *
 *   *   *   *

In [ ]:
num = 4
for i in range(0,num):
    for j in range(1,i+1):
      print(" ",end="")
    for j in range(0,num):
      print("*", end="")
    print()

****
 ****
  ****
   ****

In [ ]:
num = int(input("Enter the Number:"))
for i in range(0, num):
   for j in range(0, num-i-1):
      print(" " ,end="")
   for j in range(0,i*2+1):
      print("*",end="")
   print()

Enter the Number:20
                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

In [ ]:
num = int(input("Enter the number is :"))
for i in range (1,num):
  for j in range(0,i):
    print(" ",end=" ")
  for j in range(0,(num-i)*2-1):
    print("*",end=" ")
  print()

Enter the number is :7
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [ ]:
num = int(input("Enter the Number:"))
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end="")
  for j in range(0,i*2+1):
    print("*",end="")
  print()
for i in range(1,num):
  for j in range(0,i):
    print(" ",end="")
  for j in range(0,(num-i*2-1)):
      print("*", end="")
  print()

Enter the Number:20
                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [ ]:
def fun():
  a = 10
  b = 20
  print("Addition of two number is :",a+b)
fun()

Addition of two number is : 30

In [ ]:
def fun(a,b):
  print("Addition of two number is :",a+b)
fun(50,20)
fun(100,200)
fun(85,69)

Addition of two number is : 70
Addition of two number is : 300
Addition of two number is : 154

In [ ]:
def pen(name):
    print("My name is",name)
pen("vidya")
pen("shruti")

My name is vidya
My name is shruti

In [ ]:
def hello(x,y):
  return x+y
hello(20,40)

60

In [ ]:

def Details(Name,Address,Course,place):
  print("I'm",Name,",from",Address,"i have completed",Course,"from",place,)
Details("vidya","Bengaluru","MCA","Tumkur")
 print()

IndentationError: unexpected indent (ipython-input-4264618378.py, line 4)

In [ ]:
# even or odd number
def fun(num):
  if num % 2 == 0:
    print("Even number")
  else:
    print("Odd number")
fun(31)

Odd number

In [ ]:
def fun(num):
  if num % 2 == 0:
    print("Even number")
  else:
    print("odd number")
fun(100)

Even number

In [ ]:
def num(Value):
  print("4 Square is :", Value * Value)
num(4)

4 Square is : 16

In [ ]:
def factorial(num):
  fact = 1
  for i in range(1,num + 1):
    fact = fact * i
  print("factorial number is ",fact)
factorial(5)

factorial number is  120

In [ ]:
def num(value):
  print("factorial number is :",value *4*3*2*1):
num(5)

SyntaxError: invalid syntax (ipython-input-2735187160.py, line 2)

In [ ]:
def pen(num):
  return  num*num
pen(4)

16

In [ ]:
def add(a,b):
  return a + b
print(add(7,3))

10

In [ ]:
def add(a,b):
  return a+b
print("addition of two number is :",add(5,3))

addition of two number is : 8

In [ ]:
#Positional Arguments
# Good Morning,I'm______________i'm studying___________first semester,
#section____________,last 6 days i'm attending__________classes.
def details(name,degree,section,course):
  print("Good morning,I'm",name,",i'm studying",degree,"first semester",section,",and last 6 days i'm attending",course,"classes")
details("shruti","BCA",'B',"python")

Good morning,I'm shruti ,i'm studying BCA first semester B ,and last 6 days i'm attending python classes

In [ ]:
#key word Argument
def Lab(f_day,s_day,t_day,F_day):
  print("i learned",F_day,s_day,f_day,t_day)
Lab(F_day = "Conidtional",f_day="itroducation python",s_day="Basic",t_day="opertors")

i learned Conidtional Basic itroducation python opertors

In [ ]:
#Default Argument
def Book(name="shruti"):
  print("My name is :",name)
Book("viday")
Book()
Book()
Book("veen")

My name is : viday
My name is : shruti
My name is : shruti
My name is : veen

In [ ]:
#Variable-Length Argoment
# *args
def add(*numbers):
  Args = 0
  print("arguments:",numbers)
  total = sum(numbers)
  print("Sum ",total)
add(2,3,5)

arguments: (2, 3, 5)
Sum  10

In [ ]:
# **Key word
def info(**details):
  print("keyword arguments ",details)
  for key, value in details.items():
    print(f"{key}: {value}")
info(name="Alice", age=22, city="Bangalore")

keyword arguments  {'name': 'Alice', 'age': 22, 'city': 'Bangalore'}
name: Alice
age: 22
city: Bangalore

In [ ]:
#f_string in python
name = "vidya"
age = 18
print(f'My name is {name},age{18}')

My name is vidya,age18

In [ ]:
i = 10
j = 20
print(f'Addition of {i} and {j} value is {i + j}')

Addition of 10 and 20 value is 30

In [ ]:
Name = "vidya"
college_Name = "Bharatesha comp pu college"
Year = "2024-25"
per = 92
address = "Ninganuri"
print(f'{Name} {address},{college_Name} in the year of {Year} and my  percentage is : {per}')

vidya Ninganuri,Bharatesha comp pu college in the year of 2024-25 and my  percentage is : 92

In [ ]:
def fact(n):
  if n == 0 or n == 1:
    return n
  else:
    return  n*fact(n-1)
print(f'factorial number is :{fact(5)}')

factorial number is :120

In [ ]:
def fibo(num):
  if num<=1:
    return num
  else:
    return fibo(num-1) + fibo(num-2)
for i in range(11):
  print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
  class MyClass:
     x = 5
     name = "vidya"
     def fun(self):
       print("Are you understand oops concept")

  p1 = MyClass()
  print(p1.x)
  print(p1.name)
  print(p1.fun())

5
vidya
Are you understand oops concept
None

In [ ]:
#class person:
  def_init_(self,name,age):
    self.name=name
    self.age=age
  def greet(self):
    print("Hello, my name is" +self.name)

IndentationError: unexpected indent (ipython-input-2067853594.py, line 2)

In [ ]:
class Bank :
   def _init_(self,balance):
       self.balance = balance    #1000
   def deposit(self,amount):
       self.balance += amount     #500
   def withdraw(self,amount):
       if amount <= self.balance :
          self.balance -= amount   #300 < 1500
          print(f'withdraw succufully {amount}')
       else:
          print("InSufficient balance")
   def get_balance(self):
       return self.balance

B = Bank(1000)
B.deposit(500)
B.withdraw(300)
print(f'remaining balance : {B.get_balance()}')

TypeError: Bank() takes no arguments

In [ ]:
class Bank:
  def __init__(self,balance):
      self.balance = balance       #1000
  def deposit(self,amount):
      self.balance += amount       #500
  def withdraw(self,amount):
      if amount <= self.balance:   #1500 withdraw 300
         self.balance -= amount
         print("Transaction successfully",amount)
      else:
         print("InSufficient balance")
  def get_balance(self):
      return self.balance

B = Bank(1000)
B.deposit(500)
B.deposit(700)
B.withdraw(1700)
print("remaining balance is :",B.get_balance())

Transaction successfully 1700
remaining balance is : 500

In [ ]:

class Student:
  def __init__(self,name,age):
       self.my_name = name
       self.my_age = age

  def display(self):
    print("Name:",self.my_name,"Age:",self.my_age)

s1 = Student("Vasu", 22)
s2 = Student("Naresh", 25)

s1.display()
s2.display()

Name: Vasu Age: 22
Name: Naresh Age: 25

In [ ]:
class Parent:
  def greet(self):
    print("Hello from Parent")

class Child(parent):
  def display(self):
    print("Hello from Child")

obj = Child()
obj.greet()
obj.display()

NameError: name 'parent' is not defined

In [ ]:
class Father:
  def skill(self)

In [ ]:
class Flowers:
  color = "Red"
  Shape = "Round"
  F_type = "Rose"
  Size = "Small"

  def smell(self):
    print("Good smell,")
  def Attract(self):
    print("color full")
  def Honey(self):
    print("Honey very sweet")
obj = Flowers()
print(obj.color)
obj.smell()
print(f'flower size is{obj.Size}')
obj.Honey()

Red
Good smell,
flower size isSmall
Honey very sweet

In [ ]:
class Computer
   color ="Siliver"
   Company = "Dell"
   shape = "Raectangle"
   Amount = "70000"
   Ram = "1.15"

  def Speed(Self):
    print("Incridible speed")
  def Efficiency(self):
    print("More Efficiency")
  def Deligency(self):
    print Deligency(self):

obj = Computre()
print(obj.color)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [ ]:
clss Mobile :
    camera = "double camera"
    version = ""

In [ ]:

class Student:
  def __init__(self,name,marks):
    self.__name = name
    self.__marks = marks
  def set_Method(self,marks):
    self.marks=marks
  def get_Method(self):
    return self.marks

obj = Student("Shruti",18)
obj.set_Method(45)
print(obj.get_Method())

45

In [ ]:
#Single inheritance
class Parents:
    Age = 45
    def work(self):
      print("Parents are very good ")

class Children(Parents):
   age = 18
   def study(self):
      print("Childrens are very bad")

obj = Children()
obj.work()
print(obj.age)
obj.study()

Parents are very good
18
Childrens are very bad

In [ ]:
#Multipie inheritence
class Father:
  def farmer(self):
    print("My father was doing farmer work")

class Mother:
  def house(self):
    print("I'm student BCA 1St sem")

class Children(Father, Mother):
  def house(self):
    print("My mother is a house wife")

class Childern(Father Mother):
  def jolly(self):
    print("I' m studying BCA 1st sem")

obj = children()
obj.Jolly()
obj.farmer()
obj.house()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1691867399.py, line 14)

In [ ]:
class Grand_Father:
  def Hi(self):
    print("I'm 78 years old")

class Father (Grand_Father):
  def Hello(self):
    print("I'm 45 years old")

class Chindren(Father):
  def Bye(self):
    print("I'm 18 years old")

obj = Chindren()
obj.Hi()
obj.Hello()
obj.Bye()

I'm 78 years old
I'm 45 years old
I'm 18 years old

In [ ]:
class Degree:
  def study(self):
    print("We are studying Degree course")

class BCA(Degree):
  def course(self):
    print("I'm BCA student")

class BSC(Degree):
  def Science(self):
    print("I'm BSC student")

bca = BCA()
bca.study()
bca.course()

bsc = BSC()
bsc.study()
bsc.Science()

We are studying Degree course
I'm BCA student
We are studying Degree course
I'm BSC student

In [ ]:
#hybird inheritance
class A :
  def Hi(self):
    print("Good Morning")

class B(A):
  def Hello(self):
    print("Good Afternoon")

class C(A):
  def Bye(self):
    print("Good Evening")

class D(B,C):
  def Good (self):
    print("Good Night")

obj = D()
obj.Hi()
obj.Hello()
obj.Bye()
obj.Good()

Good Morning
Good Afternoon
Good Evening
Good Night

In [ ]:
#Run time polymoprhism

class Animal:
  def sound(self):
    print("Animal makes a sound")

class Dog(Animal):
  def sound(self):
    print("Bow bow bow")

class Cat(Animal):
  def sound(self):
    print("Meow meow........")

class Cow(Animal):
  def sound(self):
    print("Ambooooooooooo")

d = Dog()
d.sound()

a = Animal()
a.sound()

c = Cat()
c.sound()

d = Cow()
d.sound()

Bow bow bow
Animal makes a sound
Meow meow........
Ambooooooooooo

In [ ]:
# Method Overloding(Compile time polymorphism)

class Match :
  def add(self,a,b=0,c=0):
    return a*b-c

obj = Match()
print(obj.add(7))
print(obj.add(6,4))
print(obj.add(4,7,3))

0
24
25

In [ ]:

#Operator Overloading

class Book:
  def __init__(self,pages):
    self.pages = pages
  def _add_(self, other):
    return self.pages + other.pages

b1 = Book(100)
b2 = Book(200)
print("Total Pages, b1 + b2")

Total Pages, b1 + b2

In [ ]:
#Abstraction
from abc import ABC, abstractmethod
class Program(ABC):
  def method(self):
    pass
  def function(self):
    pass

class SubProgram(Program):
  def method(self):
    print("Are you understand Abstract class")

  def function(self):
    print("Yes i understand Abstraction")

obj = SubProgram()
obj.method()

abc = SubProgram()
abc.function()

Are you understand Abstract class
Yes i understand Abstraction

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
import numpy as np
arr = np.array([1,2,3,4,5,])
print("NumPy Array:",arr)

NumPy Array: [1 2 3 4 5]

In [ ]:
import numpy as np
zeros = np.zeros(5)
ones = np.ones(5)
print("Zeros:",zeros)
print("ones:", ones)

Zeros: [0. 0. 0. 0. 0.]
ones: [1. 1. 1. 1. 1.]

In [ ]:
import numpy as np
a = np.array([10,20,30])
b = np.array([1,2,3])
print("Addition:", a + b)
print("Multiplication:",a * b)

Addition: [11 22 33]
Multiplication: [10 40 90]

In [ ]:
import numpy as np
mat

In [ ]:
import numpy as np
arr = np.array([1,4,9,16])
print("Square Root:",np.sqrt(arr))
print("Mean:",np.mean(arr))

Square Root: [1. 2. 3. 4.]
Mean: 7.5

In [ ]:
import numpy as np
matrix = np.array([[1,2],[3,4]])
print("Matrix:/n", matrix)

Matrix:/n [[1 2]
 [3 4]]

In [54]:
class Dictionary:
    def __init__(self):
     #Store words in a dictionary (key = word,value = meaning)
      self.words = {}

    def add_word(self,word,meaning):
     # prevent duplicate keys
      if word in self.words:
         print(f"'{words}' already exists in dictionary. Duplicate not allowed!")

      else:
          self.words[word] = meaning
          print(f"'{word}' added successfully!")

    def search_word(self,word):
     #search for a word and display result in table format
      if word in self.words:
         print("/n=====Search Resulrt =====")
         print(f"{'Word':<15} | {'Meaning'}")
         print("-" * 40)
         print(f"{word:<15} | {self.words[word]}")
         print("-" * 40)
      else:
         print(f"'{word}' not found in dictionary.")
    def show_all(self):
    # Show all words alphabetically
     if not self.words:
        print("Dictionary is empty.")
     else:
        print("\n===== My Dictionary (Alphabetical Order) =====")
        print(f"{'Word':<15} | {'Meaning'}")
        print("-" * 40)
        for word in sorted(self.words.keys()):  #Sort keys alphabetically
            print(f"{word:<15} | {self.words[word]}")
        print("-" * 40)

    def update_word(self, word,new_meaning):
    # Update word if it exists
     if word in self.words:
        self.words[word] = new_meaning
        print(f"'{word}' updated successfully! ")
     else:
        print(f"'{word}' not found. Cannot update.")


    def main():
      my_dict = Dictionary()

      while True:
         print("\n===== Digital Dictionary Menu =====")
         print("1. Add Word")
         print("2. Search Word")
         print("3. Show All Words")
         print("4. Update Word Meaning")
         print("5. Exit")

         choice = input("Enter choice: ")

         if choice == "1":
            word = input("Enter word: ")
            meaning = input("Enter meaning: ")
            my_dict.add_word(word,meaning)

         elif choice == "2":
            word = input("Enter word to search: ")
            my_dict.search_word(word)

         elif choice == "3":
            my_dict.show_all()

         elif choice == "4":
            word = input("Enter word to update: ")
            meaning = input("Enter new meaning: ")
            my_dict.update_word(word,meaning)

         elif choice == "5":
            print("Exiting Dictionary... Goodbye!")
            break
         else:
            print("Invalid choice.Try again.")

  #Run the progaram
  if __name__ == " __main__":
      main()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 83)